.App {
  text-align: center;
}

body {
  background-color: #E6E6FA;
}

.navbar {
  width: 100%;
  height: 60px;
  background-color: #241452;
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  width: 10%;
  margin-left: 20px;
  text-decoration: none;
  color: #E6E6FA;
}

.navbar button {
  width: 100px;
  height: 40px;
  cursor: pointer;
  margin-right: 10px;
  background-color: white;
}

.navbar h1 {
  text-align: right;
  margin-right: 10px;
  color: white;
  font-weight: lighter;
}

.searchbar {
  border: 1px solid grey;
  border-radius: 5px;
  height: 25px;
  width: 100%;
  padding: 2px 200px 2px 15px;
  outline: 0;
  background-color: #f5f5f5;
  border-radius: 15px;
}

.searchbar-wrapper {
  margin: auto;
  width: 60%;
  position: relative;
  display: flex;
  min-width: 100px;
}

.search-icon {
  position: absolute;
  top: 10px;
  right: 300px;
  width: 10px;
  cursor: pointer;
}
